{% extends 'Tienda/plantillaTienda.html' %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="{% static 'Tienda/css/estilos.css' %}" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'Tienda/css/gatos, ofertas, perros.css' %}">
    <script type="text/javascript"src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>Tienda animales felices</title>


</head>

<body>
    
    {% block contenido %}
    <div class="container">
        <div class='row card-group'>
        {% for pr in productos %}
        <div class="col-4">
            <div class="card" style="width: 18rem; margin-bottom: 10%; background-color:antiquewhite;">
                <img class="card-img-top" src="{{ pr.foto.url }}" alt={{pr.nombreProducto}}>
                <div class="card-body">
                    <center>
                    <h5 class="card-title">{{pr.nombreProducto}}</h5>
                    <p class="card-text">${{pr.precioProducto}}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </center>
                </div>
            </div> 
        </div>
        {% endfor %}
        </div>
    </div>

      {% endblock contenido %}


</body>

</html>