{% extends 'Tienda/plantillaTienda.html' %}
{% load static %}


<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="{% static 'Tienda/css/estilos.css' %}" rel="stylesheet">
    <link href="{% static 'Tienda/css/Productos.css' %}" rel="stylesheet"/>

</head>

<body>
    {% block contenido %}
    <div class="container-fluid" style="text-align: center; background-color:bisque;"> 
        <div class="row">
            <h1>Listado de productos</h1>
        </div>
        <div class="row">
            <table border=5>

                <tr><td>id</td>
                    <td>Nombre</td> 
                    <td>precio</td> 
                    <td>cantidad</td> 
                    <td>Tipo</td>
                    <td>Opciones</td></tr>
                {% for pr in productos %}

                <tr><td>{{pr.idProducto}}</td>
                    <td>{{pr.nombreProducto}}</td> 
                    <td>{{pr.precioProducto}}</td> 
                    <td>{{pr.cantidadProducto}}</td> 
                    <td>{{pr.tipoProducto}}</td>
                    <td><a href="{% url 'EditarProducto' pr.idProducto %}">Modificar</a></td>
                    <td><a href="{% url 'EliminarProducto' pr.idProducto %}">Eliminar</a></td></tr>
                {% endfor %}
            </table>
        </div>
        <a href="{% url 'agregarProducto' %}" class="btn btn-primary" > Agregar Producto</a>
    </div>
    
    {% endblock contenido %}

</body>




</html>